.header-search-box {
  height:3em;
  background-color: #f2f3f0;
  border-radius: 2em;
  width:30em;
margin-left:7em;
margin-top: 0.5em;
}
.container-input-box-header {
  border-radius: 10px;
}
.input-box-header-search {
  padding: 5px;
  border-radius: 10px;
  height: 30px;
  width: 13vw;
  border: none;
  background-color: #f2f3f0;
}

.header-search-input-component {
  margin-top: 0px;
  background-color: #f2f3f0;
  border: none;
  margin-left: 5px;
  height: 40px;
  width: 144%;
  border-radius: 25px;
  outline: 0;
}
