.input-post {
  height:127%;
  font-size: 1rem;
  border: none;
  background-color: #E5F2F8;
  outline: 0;
  box-sizing: none;
  width: 100%;
  border-radius: 10px;
  padding-left: 0.5rem;
}

.post-button {
  background-color: #1da1f2;
  border: none;
  width: 4em;
  border-radius: 2em;
  height: 2em;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.home-page-user-image-box {
  border-radius: 60px;

  margin-top: 10px;
  height: 60px;
  width: 60px;
}

#field-for-text-thoughts {
  text-align: left;
  margin-top: 10px;
  margin-left: -5px;
}

.div-box-input-share-thoughts {
  height: 50px;
  text-align: left;
  margin-left: 10px;
}

#filed-for-image-postbutton {
  margin-top: 4em;
  padding-bottom: 5px;
}

#upload-image-image-field {
  text-align: left;
}

.upload-image-before-post {
  height: 30px;
  width: 30px;
  margin-left: 25px;
}
.upload-image-before-post:first-child {
  margin-left: 5px;
}

#filed-for-post-button {
  text-align: right;
}

.post-text-home {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.post-box-dropdown-list-upload {
  margin-top: 1rem;
  margin-right: 1rem;
}

.upload-image-before-post-dropdown {
  height: 30px;
  width: 30px;
}