.input-post {
  height: 100%;
  font-size: 25px;
  border: none;
  background-color: none;
  outline: 0;
  box-sizing: none;
  width: 110%;
}
.post-button {
  background-color: #1da1f2;
  border: none;
  width: 100px;
  border-radius: 12px;
  height: 35px;
  color: white;
}
.home-page-user-image-box {
  border-radius: 60px;

  margin-top: 10px;
  height: 60px;
  width: 60px;
}
#field-for-text-thoughts {
  text-align: left;
  margin-top: 10px;
  margin-left: -5px;
}
.div-box-input-share-thoughts {
  height: 50px;
  text-align: left;
  margin-left: 10px;
}
#filed-for-image-postbutton {
  margin-top: 75px;
  padding-bottom: 5px;
}
#upload-image-image-field {
  text-align: left;
}
.upload-image-before-post {
  height: 30px;
  width: 30px;
  margin-left: 25px;
}
#filed-for-post-button {
  text-align: right;
}
.post-text-home {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 2px;
}
.post-box-dropdown-list-upload {
  margin-top: 10px;
}
.upload-image-before-post-dropdown {
  height: 30px;
  width: 30px;
}
