* {
  margin: 0;
  padding: 0;
}
:root {
  --theme: #1DA1F2;
  
  
}

body {
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}

html {
  width: 100%;
  height: 100%;
}
input:focus{
  box-shadow: none !important;
}
select:focus{
  box-shadow: none !important;
}

/* Custom Classes */
.jcc {
  justify-content: center;
}

.jcs {
  justify-content: start;
}

.jce {
  justify-content: end;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.jcfe {
  justify-content: flex-end;
}

.aic {
  align-items: center;
}
.aib{
  align-items: baseline;
}
.ml_1 {
  margin-left: 1rem;
}

.ml_2 {
  margin-left: 2rem;
}

.ml_3 {
  margin-left: 3rem;
}

.w_fc {
  width: fit-content;
}

.max_hw_100 {
  max-width: 100%;
  max-height: 100%;
}
.mx_height_100{
  max-height: 100%;
}
.App {
  text-align: center;
}

.default_btn {
  height: 50px;
  width: 150px;
  background-color: var(--theme);
  font-weight: bold;
  border-radius: 5px;
  color: white;
  border: none;
}

.action_icons {
  width: 20px;
  cursor: pointer;
}

.noBar {
  overflow-x: hidden !important;
  max-width: 650px !important;
  overflow: scroll;
  height: 906px;
  margin-left: 0px;
}

#home-options {
  /* max-width: 270px; */
}

/* width */
.noBar::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.noBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.noBar::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
}

/* Handle on hover */
.noBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sideBar {
  width: 200px;
}

.menuCard {
  /* width: fit-content; */
  border: none !important;
  cursor: pointer;
}

.menuCard:hover {
  box-shadow: 0 0 36px 0 rgb(217 217 217 / 50%);
}

.menuCard img {
  width: 50px;
}

.menuCard h6 {
  margin-top: 0.5rem;
}

.swiper-container {
  width: 100%;
  height: 29em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-social .MuiCardContent-root {
  text-align: center;
}


.user_post_img {
  width: 60px;
  height: 60px;
}

.text-right {
  text-align: right;
}

.logo_wrapper {
  height: 50px;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 10px;
}
.logo_wrapper img{
  max-width: 200px;
}
@media only screen and (max-width: 1366px) {
  .logo_wrapper{
    height: 50px;
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
  .logo_wrapper img{
    max-width: 150px;
  }
}
.img_res {
  max-width: 100%;
  max-height: 100%;
}

.comment_icon {
  height: 80px;
  width: 80px;
}

.ml-auto {
  margin-left: auto;
}

.login_text {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.login_div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.user_w_login {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
}

.user_w_login img {
  width: 30px;
  margin-right: 0.5rem;
}

.commentBox {
  height: 40px;
  outline: 0;
  border: 0.5px solid #d4d1c5;
  border-radius: 30px;
  padding-left: 0.5rem;
}

.comment_image {
  width: 40px;
  height: 40px;
  border-radius: 60px;
}
.action_dd{
  background: transparent !important;
  border: none !important;
}
.action_dd:focus{
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.image-field-for-posts {
  /* border-radius: 5px; */
  /* height: 22em; */
  /* width: 100%; */
}
.userIcon{
  width: 25px;
}
.login_bg{
  position: absolute;
}
.glassy{
  position: relative;
  background: #ffffff7a;
  backdrop-filter: blur(10px);
  max-width: 500px;
  border-radius: 6px;
}
.liked{
  position: absolute;
  margin: 0;
  top: -25px;
  color: #0089FF;
  font-weight: 600;
}
.disliked{
  position: absolute;
  margin: 0;
  color: #0089FF;
  left: 1rem;
  font-weight: 600;
}
.pr{
  position: relative !important;
}
.image_about{
  max-height: 100px;
  width: 100%;
  overflow-y: auto;
}
/* width */
.image_about::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.image_about::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.image_about::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.image_about::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.image_about{
  border: none !important;
  outline: none !important;
}
.image_about:hover{
  border: none !important;
  outline: none !important;
}
.image_about:focus{
  border: none !important;
  outline: none !important;
}

.image_about .MuiInputBase-formControl:focus{
  outline: transparent !important;
  border: none !important;
}
.image_about .MuiInputBase-formControl:focus-visible{
  outline: transparent !important;
  border: none !important;
}
.image_about .MuiInputBase-formControl:hover{
  outline: transparent !important;
  border: none !important;
}
.image_about:focus-visible{
  outline: transparent !important;
  border: none !important;
}
.surveyCard{
  height: 15em;
  width: 80%;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
  
}
/* .shadow {
  box-shadow: 0 .5rem 1rem rgba(6, 101, 145, 0.596)!important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(2, 122, 177, 0.175)!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075)!important;
} */
.surveyHeader{
  position: absolute;
  height: 40px;
  background: var(--theme);
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.surveyHeader p{
  margin-bottom: 0px !important;
}
.surveyCardBody{
  margin-top: 40px;
  position: relative;
}
.survey_btn{
width: 100%; 
display: flex;
justify-content: flex-end;

}
.survey_btn h6{
  margin-bottom: 0;
}
.survey_btn Button{
  background: var(--theme);
  text-decoration: none !important;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-bottom: 10px;
}
.linkC{
  text-decoration: none !important;
}
.survey_response{
  margin-bottom: 10px !important; 
font-weight: 600;
}
.survey_btn Button:hover{
  background-color: #008be1;
}
.trnd_survey_tab{

}
.indicator{
  background-color: white;
}
.trnd_survey_tab{
  font-size: 1rem !important;
  font-weight: 600;
}
.message-container{
  width: calc(100%);
  position: relative;
  background-color: #ffffffff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  margin-top: "1rem";
  border-radius: 15px;
}
.input-post{
  /* background-color: #dddddd; */
  background-color: #fff;
}
.close_btn{
  height: 18px !important;
  width: 18px !important;
  /* margin-top: ; */
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.sidebar_menu{
  display:flex;
  margin-top:1em;
  width:100%;
  border-radius:5em;
  cursor: pointer
}
.imagePostContainer:hover{
  background-color: #f7fdff
}
.sidebar_menu p{
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}
.sidebar_menu img{
  width: 25px;
  height: 25px;
}
.side_bar_wrap{
  border-right: 1px solid #c4c4c4c4;
  width: 250px;
  padding: 1rem;
  position: fixed;
  top: 70px;
  bottom: 0;
  background-color: #fff;
  border-radius: 1em;
}
.c_body{
  /* width: calc(100%); */
  margin-left: 250px;
  padding-left: 16px;
  padding-right: 16px;
}
.c_body_fw{
  width: 100%;
  margin-left: 250px;
  padding-left: 16px;
  padding-right: 16px;
}
.nav_wrap{
  display: flex;
  flex-direction: column;
  background:#2887db;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.container_custom{
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.post_box{
  padding: 1rem;
  background-color: #ffffffc2;
}
.search_icon{
  border-radius: 3px;
  height:30px;
  width:30px;
}
.user_pic{
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.si_wrap{
  background-color: gray;
}
.user_dd{
  position: absolute;
  border: 1px solid #cfccccc4;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  right: 0;
}
.user_actn{
  text-decoration: none;
  color: #555;
}
.user_actn:hover {
  text-decoration: none;
  color: #1a1919;
}
.d-none{
  display: none;
}
.home_card{
  background: #f9f8f8;
  border: none;
}
.home_card:hover{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.td_none{
  text-decoration: none;
}
.btn_theme{
  background-color: #2FA1F7 !important;
  padding: 6px;
  border-radius: 6px;
  color: #fff !important;
}
.btn_theme:hover{
  background-color: #1382d6 !important;
  color: #fff;
}
.act_count{
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.academic_card{
  border: 1px solid transparent;
  transition: all 1s ease-in-out;
}
.academic_card:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.academic_icon{
  width: 3rem;
}
.academic_card:hover .academic_icon{
  fill: #6EA3DB;
}
.clg_crd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_banner{
  height: 100px;
  padding: 0.5rem;
  position: relative;
}
.crdBnrTxt{
  color: #fff;
  z-index: 999;
  position: relative;
}
.crd_logo{
  height: 4em;
  width: 4em;
  border-radius: 2em;
  margin-left: 1em;
  margin-top: -2em;
}
.clgCrdtxt{
  color: #116191;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}
.b_top{
  border-top: 1px solid #c4c4c4c4;
}
.fs-7{
  font-size: 14px;
}
.ovrlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000073;
}
.filterSec{
  min-width: 150px;
}
.badges{
  width: 2rem;
}
.abtIcon{
  width: 18px;
  height: 18px;
}
.academic_card:hover .hover_blue{
  color: #1DA1F2;
}
.menuBar{
  width: 30px;
  position: absolute;
  left: 0;
  top: 10px;
}
.load_spinner{
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}
@media only screen and (min-width: 992px) {
  .menuBar{
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .side_bar_wrap {
    border-right: 1px solid #c4c4c4c4;
    /* display: none; */
    padding: 1rem;
    position: fixed;
    top: 70px;
    bottom: 0;
    background: #fff;
    z-index: 9;
  }
  .c_body_fw{
    margin-left: 0px;
  }
  
}


.linkStyle{
  text-decoration: none !important;
  color: #111820 !important;
}
.poll_card{
  border: 1px solid #EAE3E1;
  width: 30em;
  padding:15px; 
  box-shadow: 4px 10px 8px  #dbd8d7;
  border-radius:5px
}
.close_btn{
  position: absolute;
  right: 10px;
  top: 10px;
}
.hfc{
  height: fit-content !important;
}
.user_cmnt_pic{
  height: 35px;
  width: 35px;
  border-radius: 100px;
}
.user_crunt_pic{
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
.postActionSec{
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* border-bottom: 1px solid #c4c4c4c4; */
  /* border-top: 1px solid #c4c4c4c4; */
  margin-top:1em;
}