* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

/* Custom Classes */
.jcc {
  justify-content: center;
}

.jcs {
  justify-content: start;
}

.jce {
  justify-content: end;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.jcfe {
  justify-content: flex-end;
}

.aic {
  align-items: center;
}

.ml_1 {
  margin-left: 1rem;
}

.ml_2 {
  margin-left: 2rem;
}

.ml_3 {
  margin-left: 3rem;
}

.w_fc {
  width: fit-content;
}

.max_hw_100 {
  max-width: 100%;
  max-height: 100%;
}
.mx_height_100{
  max-height: 100%;
}
.App {
  text-align: center;
}

.default_btn {
  height: 50px;
  width: 150px;
  background-color: #1da1f2;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  border: none;
}

.action_icons {
  width: 1.5em;
}

.noBar {
  overflow-x: hidden !important;
}

#home-options {
  max-width: 270px;
}

/* width */
.noBar::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.noBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.noBar::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
}

/* Handle on hover */
.noBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sideBar {
  width: 200px;
}

.menuCard {
  /* width: fit-content; */
  border: none !important;
  cursor: pointer;
}

.menuCard:hover {
  box-shadow: 0 0 36px 0 rgb(217 217 217 / 50%);
}

.menuCard img {
  width: 50px;
}

.menuCard h6 {
  margin-top: 0.5rem;
}

.swiper-container {
  width: 100%;
  height: 29em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-social .MuiCardContent-root {
  text-align: center;
}

.user_post_img {
  width: 60px;
  height: 60px;
}

.text-right {
  text-align: right;
}

.logo_wrapper {
  width: 200px;
  height: 50px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.img_res {
  max-width: 100%;
  max-height: 100%;
}

.comment_icon {
  height: 80px;
  width: 80px;
}

.ml-auto {
  margin-left: auto;
}

.login_text {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.login_div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.user_w_login {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
}

.user_w_login img {
  width: 30px;
  margin-right: 0.5rem;
}

.commentBox {
  height: 40px;
  outline: 0;
  border: 0.5px solid #d4d1c5;
  border-radius: 30px;
  padding-left: 0.5rem;
}

.comment_image {
  width: 40px;
  height: 40px;
  border-radius: 60px;
}
.action_dd{
  background: transparent !important;
  border: none !important;
}
.action_dd:focus{
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.image-field-for-posts {
  border-radius: 5px;
  height: 22em;
  width: 100%;
}
.userIcon{
  width: 25px;
}
.login_bg{
  position: absolute;
}
.glassy{
  position: relative;
  background: #ffffff7a;
  backdrop-filter: blur(10px);
  max-width: 500px;
}
.liked{
  position: absolute;
  margin: 0;
  top: -25px;
  color: #0089FF;
  font-weight: 600;
}
.disliked{
  position: absolute;
  margin: 0;
  color: #0089FF;
  left: 1rem;
  font-weight: 600;
}
.pr{
  position: relative !important;
}